@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
  --accent-color: #8a2be2;
  --base-color: white;
  --text-color: black;
  --input-color: #ede9fd;
  --input-color2: #f8f6ff;
  --border-color: #d9c5eb;
  --hover-color: #e9e4fabc;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

html {
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  padding: min(30px, 7%);
  flex: 1;
}

main p {
  color: var(--text-color);
  margin-top: 5px;
  margin-bottom: 15px;
}
.login-container{
  padding: 12px 16px 2px 0px;
}
.login-button {
  display: inline-block;
  padding: 6px 14px;
  background-color: #ffffff; 
  color: #000000; 
  text-decoration: none; 
  border-radius: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600px;
  white-space: nowrap; 
}


.login-button:hover {
  background-color: var(--border-color);
}
#second-menu {
  background-color: var(--input-color2);
  padding-bottom: 20px;
  display: block;
}
.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 28px;
  background: white;
  transition: box-shadow 0.25s;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 40px; */
}

.search-input {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  margin-left: 10px;
  outline: none;
  border: none;
  background: transparent;
  display: flex;
  width: 100%;
  min-width: 0;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-icon svg {
  display: flex;
  fill: rgba(0, 0, 0, 0.5);
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);

}

#tap-menu {
  display: flex;
  width: 100%;
  background-color: var(--input-color2);
}
#menu-list{
  display: block;
  flex-direction: column;
  width: 100%;
}

#open-sidebar-button svg {
  fill: var(--text-color)
}

#open-sidebar-button {
  display: flex;
  flex-grow: 0;
  top: 10px;
  left: 10px;
  z-index: 999;
  background: none;
  padding: 1em;
  margin-right: auto;
  cursor: pointer;
  border: none;
}

#sidebar {
  display: flex;
  left: -100%;
  height: 100%;
  width: 270px;
  padding: 5px 10px;
  background-color: var(--input-color2);
  border-right: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  flex-direction: row;
  align-self: center;
  transition: 300ms ease-out;
  overflow: hidden;
  text-wrap: nowrap;
  z-index: 1000;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#sidebar.addShow {
  left: 0;
}
  #sddShow~#overlay {
    display: block;
  }

  #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
  }
#sidebar ul {
  list-style: none;
}

#sidebar>ul>li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-color);

  svg {
    fill: var(--accent-color)
  }
}

#sidebar a,
#sidebar .dropdown-list,
#sidebar .logo {
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-list {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-color);
}

#sidebar a span,
#sidebar .dropdown-list span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-list:hover {
  background-color: var(--hover-color);
}
#sidebar .sub-list {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  >div {
    overflow: hidden;
  }
}

#sidebar .sub-list.show {
  grid-template-rows: 1fr;
}

.dropdown-list svg {
  transition: 200ms;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-list {
  padding-left: 2em;
}

#close {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;
  display: block;
  position: relative;
  right: -10px;
}
#overlay {
  display: none;
}

@media(max-width: 768px){
.search {
  width: 70%;
}
.login-container{
  padding: 12px 24px 20px 0px;
  }
}

@media(max-width: 450px) {
  .login-container{
  padding: 12px 24px 20px 0px;
  }
  .search {
    max-width: 290px;
    width: 100%;
  }

  #tap-menu {
    display: flex;
    flex-grow: 1;
    background-color: var(--input-color2);
  }

  #open-sidebar-button svg {
    fill: var(--text-color)
  }

  #open-sidebar-button {
    display: flex;
    flex-grow: 0;
    top: 10px;
    left: 10px;
    z-index: 999;
    background: none;
  }

  #sidebar {
    background-color: var(--input-color2);
    border-right: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 270px;
    z-index: 1000;
    overflow-y: auto;
    transition: left 300ms ease-out;
  }
  }
  /* #sidebar{
    background-color: var(--input-color2);
    position: fixed;
    top:0;
    left: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--text-color);
    transition: left 300ms ease-out;
  } */
  #sidebar.addShow {
    left: 0;
  }

  #sddShow~#overlay {
    display: block;
  }

  #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
  }